:root{
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #10100e;
  --color-blue: #6a83fb;
  --color-purple: #ae72c2;

  --transition: .5s;

  --font-bold: 600;
  
  --text-shadow-blue: 
    0 0 2px var(--color-white),
    0 0 40px var(--color-blue);

  

  --border-radius-default: 55px;
  --border-radius-small: 3px;
  --border-radius-medium: 5px;

  --spacing-ultrasmall: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;

  --margin-list: 7px;

  --font-family-main: 'Josefin Sans', sans-serif;
  --font-size-header: 30px;
  --font-size-main: 16px;
  --font-size-subheader: 18px;

  --box-shadow-white:
    0px 16px 24px 2px rgba(255, 255, 255, 0.02),
    0px 6px 30px 5px rgba(255, 255, 255, 0.04),
    0px 8px 10px -5px rgba(255, 255, 255, 0.1);

  --box-shadow-black:
    0px 16px 24px 2px rgba(0, 0, 0, 0.02),
    0px 6px 30px 5px rgba(0, 0, 0, 0.04),
    0px 8px 10px -5px rgba(0, 0, 0, 0.1);


  --width-max: 1200px;

  --text-error-massage: #F0E68C;


    /*themes*/

  --theme-light-header: #dfe2df;
  --theme-dark-header: #ca6c6f;
  --theme-neitral-header: #F0E68C;
  --theme-default-header: var(--theme-neitral-header);

  --theme-dark-bg: url(@static/dark-side-bg.jpg);
  --theme-light-bg: url(@static/light-side-bg.jpg) ;
  --theme-neitral-bg:  url(@static/bg.jpg) ;
  --theme-default-bg: var(--theme-neitral-bg) ;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main) ;
  background-image: var(--theme-default-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

*, *::after, *::before{
  box-sizing: border-box;
}

img{
  display: block;
}

.header__text{
  text-align: center;
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}

/*scroll*/

*{
  scrollbar-color: #ae72c2 rgba(226, 220, 220, 0.3);
  scrollbar-width: thin;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #ae72c2;
    border-radius: 2px;
}

::-webkit-scrollbar-track{
    background-color: rgba(226, 220, 220, 0.3);
}

::-webkit-scrollbar-corner{
  background-color: rgba(226, 220, 220, 0.3);
}
