:root{
    --font-size-small: 14px;
    --font-size-medium: 18px;
    --font-famaly-main:  'Josefin Sans', sans-serif;
    --font-bold: 700;

    --transition: .5s;

    --color-white: #fff;
    --color-black: #000;
    --color-purple: #ae72c2;
    --color-gray: #9c9c9c;


}

*, *::after, *::before{
    box-sizing: border-box;
}

img{
    display: block;
}