.button{
    
    padding: 10px;
    min-width: 100px;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition);
    font-size: var(--font-size-small);
    font-weight: var(--font-bold);
    font-family: var(--font-famaly-main);
    color: var(--color-purple);
}

.button:disabled,
.button:disabled:hover{
    color: var(--color-gray);
    border-color: var(--color-gray);
    cursor: auto;
    background-color: transparent;
}

.button:hover{
    background-color: var(--color-purple);
}

.button:active{
    background-color: #753f86;
}

.dark{
    border: 2px solid var(--color-purple);
    color: var(--color-white);
}

.dark:hover{
    color: var(--color-black);
}

.light{
    border: 2px solid var(--color-black);
    color: var(--color-black);
}

.light:hover{
    color: var(--color-white);
}